<?xml version="1.0" encoding="UTF-8"?>
<odoo>
    <data>          
        <record model="ir.actions.act_window" id="action_attendance_prevision_tree">
            <field name="name">Attendance prevision</field>
            <field name="res_model">ems.attendance_prevision</field>
            <field name="view_mode">list,form</field>
            <field name="context">{'search_default_only_mine': 0}</field>         
        </record>

        <menuitem name="Previsions" sequence="4" id="menu_attendance_previsions" parent="menu_attendance" action="action_attendance_prevision_tree"/>
    </data>
</odoo>