<?xml version="1.0" encoding="UTF-8"?>
<odoo>
    <data>          
        <record model="ir.actions.act_window" id="action_attendance_report_student_wizard">
            <field name="name">Attendance report (by student)</field>
            <field name="res_model">ims.attendance_report_student_wizard</field>
            <field name="view_mode">form</field>
            <field name="target">new</field>
        </record>
        
        <record model="ir.actions.report" id="report_attendance_session">
            <field name="name">Attendance report: by session</field>
            <field name="model">ims.attendance_session</field>
            <field name="report_type">qweb-pdf</field>
            <field name="report_name">ims.attendance_report_session</field>
            <field name="report_file">attendance_report_session</field>
            <field name="binding_model_id" ref="ims.model_ims_attendance_session"/>
            <field name="binding_type">report</field>
        </record>

        <record model="ir.actions.report" id="report_attendance_student">
            <field name="name">Attendance report: by student</field>
            <field name="model">report.ims.attendance_report_student</field>
            <field name="report_type">qweb-pdf</field>
            <field name="report_name">ims.attendance_report_student</field>
            <field name="report_file">attendance_report_student</field>
            <field name="binding_model_id" ref="ims.model_report_ims_attendance_report_student"/>
            <field name="binding_type">report</field>
        </record>

        <menuitem name="Reports" sequence="2" id="menu_attendance_reports" parent="menu_attendance"/>
        <menuitem name="Attendance by student" sequence="1" id="menu_attendance_reports_student" parent="menu_attendance_reports" action="action_attendance_report_student_wizard"/>
    </data>
</odoo>