<?xml version="1.0" encoding="UTF-8"?>
<odoo>
    <data>

        <record id="action_ems_pre_enrollments" model="ir.actions.act_window">
            <field name="name">Pre-enrollments</field>
            <field name="res_model">sale.order</field>
            <field name="view_mode">list,form,kanban</field>
            
            <field name="domain" eval="[('state', 'in', ('draft', 'sent', 'cancel'))]"/>
             <!-- <field name="context" eval="{'default_team_id': ref('ems.team_administration')}"/> -->
        </record>

        <record id="action_ems_enrollments" model="ir.actions.act_window">
            <field name="name">Enrollments</field>
            <field name="res_model">sale.order</field>
            <field name="view_mode">list,form,kanban</field>
            
            <field name="domain" eval="[('state', 'not in', ('draft', 'sent', 'cancel'))]"/>
             <!-- <field name="context" eval="{'default_team_id': ref('ems.team_administration')}"/> -->
        </record>


        <menuitem id="menu_ems_enrollment"
                  name="Enrollment"
                  parent="menu_ems_academic_management"
                  sequence="10"/>

            <menuitem id="menu_students_tutor"
                      name="Enrollment proposal"
                      parent="menu_ems_enrollment"
                      action="ems.action_student_group_enrollment"
                      groups="ems.group_admin,ems.group_secretary,ems.group_tutor"
                      sequence="20"/>

            <menuitem id="menu_ems_pre_enrollments"
                      name="Pre-enrollments"
                      parent="menu_ems_enrollment"
                      action="action_ems_pre_enrollments"
                      groups="ems.group_admin,ems.group_secretary"
                      sequence="30"/>

            <menuitem id="menu_ems_enrollments"
                      name="Enrollments"
                      parent="menu_ems_enrollment"
                      action="action_ems_enrollments"
                      groups="ems.group_admin,ems.group_secretary"
                      sequence="40"/>
    </data>
</odoo>
            <!-- para pre-enrollments action="sale.action_quotations" -->
            <!-- para Enrollments action="sale.action_orders" -->
