<?xml version="1.0" encoding="UTF-8"?>
<odoo>
    <data>          
        <record model="ir.actions.act_window" id="action_attendance_notification_tree">
            <field name="name">Attendance notification</field>
            <field name="res_model">queue.job</field>
            <field name="view_mode">list,form</field>
            <field name="domain"> [('model_name', 'like', '%attendance_issue%')] </field>
        </record>

        <!-- NOTE: by default, only admins can see the model and also the menu entry. If access should be granted to teachers, only tutors should be able to see their pending notification (also some tweak should be done to the listview).  -->
        <menuitem name="Notifications" sequence="3" id="menu_attendance_notifications" parent="menu_attendance_config_sessions" action="action_attendance_notification_tree"/>
    </data>
</odoo>