<?xml version="1.0" encoding="UTF-8"?>
<odoo>
    <data>
        <menuitem id="menu_ems_configuration"
                  name="Configuration"
                  parent="menu_ems_academic_management"
                  sequence="100"/>

        <menuitem id="menu_ems_enrollment_items"
                  name="Enrollment Items"
                  parent="menu_ems_configuration"
                  action="action_ems_enrollment_items"
                  sequence="10"/>

    </data>
</odoo>