<?xml version="1.0" encoding="UTF-8"?>
<odoo>
    <data>
        <record model="ir.actions.act_window" id="action_communication_list">
            <field name="name">Notices</field>
            <field name="res_model">ems.notice</field>
            <field name="view_mode">list,form</field>
        </record>

        <menuitem name="Communications" sequence="5" id="menu_communications"
                  groups="ems.group_academic_admin"/>

        <menuitem name="Notices" sequence="1" id="menu_communications_list"
                  parent="menu_communications"
                  action="action_communication_list"
                  groups="ems.group_academic_admin"/>
    </data>
</odoo>
