<?xml version="1.0" encoding="UTF-8"?>
<odoo>
    <data>          
        <record id="action_level_tree" model="ir.actions.act_window">
            <field name="name">Levels</field>
            <field name="res_model">ems.level</field>
            <field name="view_mode">list,form</field>
        </record>
                
        <menuitem id="menu_levels" name="Levels" sequence="1" parent="menu_community_config_curriculum" action="action_level_tree"/>
    </data>
</odoo>