<?xml version="1.0" encoding="UTF-8"?>
<odoo>
    <data>   
        <record model="ir.ui.menu" id="hr_attendance.menu_hr_attendance_root">
            <field name="name">Employee Attendances</field>
            <field name="sequence">4</field>
            <field name="groups_id" eval="[(4, ref('ems.group_teacher'))]"/>
        </record>

        <record model="ir.ui.menu" id="hr_attendance.menu_hr_attendance_view_attendances">
            <field name="groups_id" eval="[(4, ref('ems.group_teacher'))]"/>
        </record>

        <record model="ir.actions.act_window" id="hr_attendance.hr_attendance_action">
            <field name="name">Employee Attendances</field>
        </record>

        <!-- Root menu items only -->
        <menuitem name="Student's Attendances" sequence="3" id="menu_attendance" />
    </data>
</odoo>